:root{
    --width: 300px;
    --padding: 10px;
    --bgcolor: #3FABDD;
    --hovercolor:#3C839D;
    --width-collapsed: 50px;
}

body{
    background-color: #ADDEF4;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    padding:0;
    margin: 0;
    margin-left: var(--width-collapsed);
}

.body-expanded{
    margin-left: var(--width);
}

#main-container{
    color:green;

}

#sidemenu{
    background-color: var(--bgcolor);
    color:rgb(51, 65, 80);
    position: fixed;
    font-weight: bold;
    height: 100%;
    left: 0;
    top: 0;
}

#sidemenu a{
    color: rgb(51, 65, 80);
    text-decoration: none;
}

/*
Header
*/

#sidemenu #header{
    box-sizing: border-box;
    border-bottom: solid 1px var(--hovercolor);
}

#sidemenu #header #title{
    box-sizing: border-box;
    overflow: hidden;
}

#sidemenu #header #title, #sidemenu #header #menu-btn{
    vertical-align: middle;
}

#sidemenu #header #menu-btn{
    display: inline-block;
}

#sidemenu #header #menu-btn{
    cursor: pointer;
    padding: 6px;
    width: var(--width-collapsed);
    box-sizing: border-box;
    float: right;
}

#sidemenu #header #menu-btn:hover{
    background-color: var(--hovercolor);
}

#sidemenu #header #menu-btn .btn-hamburger{
    background-color: rgb(51, 65, 80);
    width: 90%;
    height: 3px;
    margin: 5px 0;
}

/*
Profile
*/

#sidemenu #profile{
    border-bottom: solid 1px var(--hovercolor);
    padding: var(--padding) 0;
    text-align:center;
}

#sidemenu #profile #photo{
    box-sizing: border-box;

}

#sidemenu #profile #name{
    margin: 0 -2%;
}

#sidemenu #profile #photo img{
    border-radius: 50%;
    width: 60%;
}

#sidemenu #profile #photo, #sidemenu #profile #name{
    font-size: 24px;
    overflow: hidden;
}

/*
item
*/

#sidemenu #menu-items{
    overflow: hidden;
}

#sidemenu #menu-items .item{
    width: var(--width);
}

#sidemenu #menu-items .item .icon{
    display: inline-block;
}
#sidemenu #menu-items .item .icon,
#sidemenu #menu-items .item .title{
    font-size: 14px;
    vertical-align: middle;
    overflow: hidden;
    display: inline-block;
}

#sidemenu #menu-items .item a{
    display: block;
}

#sidemenu #menu-items .item a:hover{
    background-color: var(--hovercolor);
}
#sidemenu #menu-items .item .icon{
    box-sizing: border-box;
    padding: var(--padding);
    width: var(--width-collapsed);
}

#sidemenu #menu-items .item .icon img{
    width:100%;
}

#sidemenu #menu-items .item .title{
    padding: var(--padding) 0;
}

#sidemenu #menu-items .item.separator{
    height: 1px;
    border-bottom: solid 1px var(--hovercolor);
    margin: 0px 0;
}

.btn {
    padding: 15px;
    background: linear-gradient(
        90deg,
        #ddbc60 25%,
        #CD7A57 100%);
    
    color:#2f2e30;
    font-size: 14px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 25px;
    border-top: none;
    border-left: none;
}

.btn:hover{
    background: #b4994e;
}


.menu-expanded{
    width: var(--width);
    box-shadow: 0 0 10 rgb(51, 65, 80);
}

.menu-expanded #header #title {
    display: inline-block;
    width: calc(100%-50px);
    margin-right: -5px;
    padding: var(--padding);
}

.menu-expanded #header #title span{
    width: calc(var(--width) - var(--width-collapsed) - 5px);
    overflow: hidden;
}

.menu-expanded #profile #photo {
    width: 200px;
    margin: 0 15%;
}

.menu-expanded #profile #name {
    width: 100%;
}

.menu-expanded .btn{
    width: 60%;
    margin-left: 18%;
    margin-top: 4%;
}

.menu-collapsed{
    width: var(--width-collapsed);
}

.menu-collapsed #header #title{
    width: 0;
    height: 0;
    padding: 0;
    margin: 0;
}

.menu-collapsed #profile #name{
    display: none;
}

.menu-collapsed .item{
    width: 100px;
}

.menu-collapsed .btn{
    display: none;
}
.menu-collapsed #profile #photo {
    width: 50px;
    margin-left: 3%;
    margin-top: 40px;
}